<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>通知公告</title>
    <link href="/css/z-pager.css" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: "Microsoft YaHei"
        }
    </style>
</head>
<body style="background-color: #ffffff">
<div class="noticetitle">系统公告</div>
<div id="toper" class="pagerHtmlTop">
    <div class="teble_head">
        <span class="tablehead0">  </span>
        <span class="tablehead1">标题</span>
        <span class="tablehead2">发布日期</span>
        <span class="tablehead3">发布者</span>
    </div>
</div>
<div id="wraper" class="pagerHtmlWrap">
</div>
<div style="text-align: center;">
    <div id="pager" class="pager clearfix"></div>
</div>
</body>
<script src="/js/jquery.min.js?v=2.1.4"></script>
<script src="/js/jquery.z-pager.js"></script>
<script src="/js/layer/layer.js"></script>
</html>